.wrapper {
    display: flex;
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .form {
    flex: 1;
    padding: var(--mantine-spacing-xl);
    border-left: 0;
    background-color: white;
    border-radius: 10px;
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: var(--mantine-spacing-md);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .fields {
    margin-top: rem(-12px);
  }
  
  .fieldInput {
    flex: 1;
  
    & + & {
      margin-left: var(--mantine-spacing-md);
  
      @media (max-width: $mantine-breakpoint-sm) {
        margin-left: 0;
        margin-top: var(--mantine-spacing-md);
      }
    }
  }
  
  .fieldsGroup {
    display: flex;
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .contacts {
    box-sizing: border-box;
    position: relative;
    border-radius: var(--mantine-radius-lg);
    border: rem(1px) solid transparent;
    padding: var(--mantine-spacing-xl);
    background-color: white;
    flex: 0 0 rem(280px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-bottom: var(--mantine-spacing-sm);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .title {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-bottom: var(--mantine-spacing-xl);
    }
    
  }
  
  .control {

    @media (max-width: $mantine-breakpoint-sm) {
      flex: 1;
    }
  }